Restaurar o banco imobiliária com arquivo imobiliaria.backup; ● Criar endpoint de get, que deve selecionar os dados dentro de um intervalo de area, plotar o gráfico de dispersão em que o eixo x é a área e o eixo y o preco e retornar o json com esses dados; 
● Criar endpoint de get, que deve selecionar os 15 dados com maior preco em ordem decrescente, plotar o gráfico de linha em que o eixo x é o preco e o eixo y a qte_quartos e retornar o json com esses dados; 
● Criar endpoint de get, que deve selecionar todos os dados com determinada quantidade de qte_banheiros, plotar o gráfico de barra em que o eixo x é o qte_banheiros e o eixo y a qte_quartos e retornar o json com esses dados; 
● Criar endpoint de put, que atualize os dados pelo cep; 
● Criar endpoint de delete, que delete os dados pelo cep;

In [1]:

import matplotlib.pyplot as pyplot
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('HousesInfo.xlsx')
df.head()

   qde_banheiro qde_quartos  area    cep   preco
0             4           4  4053  85255  869500
1             4           3  3343  36372  865200
2             3           4  3923  85266  889000
3             5           5  4022  85262  910000
4             3           4  4116  85266  971226

In [4]:
df.count()

qde_banheiro    535
qde_quartos     535
area            535
cep             535
preco           535
dtype: int64

In [5]:
df.dtypes

qde_banheiro     int64
qde_quartos     object
area             int64
cep              int64
preco            int64
dtype: object

In [ ]:
import re  # Tirando os caracteres especiais para subir no Banco de dados

df['qde_quartos_d'] = df.qde_quartos.apply(lambda x: re.fullmatch( '.*-.*',  str(x) ) == None  )
df2 = df.query('qde_quartos_d == True')
df2.head(25)

In [ ]:
df2.isnull().sum()

In [ ]:
df2.dtypes

In [ ]:
# con = psycopg2.connect(host='localhost', user='postgres', password='postgres') 
# con.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
# cursor = con.cursor() 
# name_database = "imobiliaria" 
# sql_create_database = "CREATE DATABASE {}".format(name_database) 
# try:    
#     cursor.execute(sql_create_database) 
# except:    
#     print("database 'imobiliaria' already exists")

In [ ]:

# con = psycopg2.connect(host='localhost', database = 'imobiliaria', user='postgres', password='postgres') 
# con.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
# cursor = con.cursor() 

# sql = 'CREATE TABLE info_casas (id BIGSERIAL PRIMARY KEY, qde_banheiro INT, qde_quartos VARCHAR, area INT, cep INT, preco INT)'

# try:    
#     cursor.execute(sql) 
# except:    
#     print("table 'info_casas' already exists")

In [ ]:
# for x in df1.values:
#     sql = "INSERT INTO info_casas (qde_banheiro,qde_quartos,area,cep,preco) VALUES ({},{},{},{},{})".format(x[0], x[1], x[2], x[3],x[4])
#     print(sql)
#     cursor.execute(sql)